body { 
    padding-top: 70px;     
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(left top, #00767F, #E3F9FF);
    background: -o-linear-gradient(bottom right, #00767F, #E3F9FF);
    background: -moz-linear-gradient(bottom right, #00767F, #E3F9FF);
    background: linear-gradient(to bottom right, #00767F, #E3F9FF);
}
h1 {
    color: #fff3e0;
    font-size: 48px;
}
p{
    color: #fffdf9;
}

a{
	color: #666666;
	font-weight: bold;
}

a:hover{
	color: #666666;
	text-decoration: none;
}

a:visited{
	/*color: white;*/
}

a:active{
	color: #666666;
	text-decoration: none;
}

.panel{
	width:90%;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.panel-collapse{
	max-height: 500px;
    overflow-y: scroll;
}

.centerBlock {
    margin: 0 auto;
    float: none;
}

.panel-heading{
	font-size: 18px;
}

.col-md-6{
	margin-bottom: 10px;
}
.col-md-6-1{
	width:74%;
	display: inline-block;
}
.col-md-6-2{
	float:right;
	width:25%;
	margin-bottom:20px;
	display: inline-block;
	margin-bottom:20px;
}

.table{
	background-color: white;
	float: none;
    margin: 0 auto;
	width: 85%;
}

thead{
	background-color: #555555;
	color:white;
}

thead>tr>th{
	text-align:center;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

#myBarChart{
	background-color:white;
}

#barChartContainer{
	background-color: white;
	width: 80%;
	float: none;
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 20px;
}

#newRetailer{
	color: #555555;
}

.hiddendiv{
	display:none;
}


.dateth{
	color: #555555;
}

.panel-info > .panel-heading {
    background-color: #C8E8E8;
    color: white;
}

.panel-danger > .panel-heading {
    background-color: #FFD5D8;
    color: white;
}

#date_month{
	display: inline;
	width: 45%;
}

#date_day{
	display: inline;
	width: 45%;
}

.navbar-brand{
	padding: 5px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.unseen{
	background-color:pink;
}

.hasalert{
	margin-left:5px;
	color:white;
}

.statisticsdiv{
	align:center;
	width:200px;
	margin-left:100px;
}

.tableHeader{
	background-color: #724b4b;
	color: white;
}

.tableTitle{
	background-color: white;
	color: black;
}

#wday{
	width:35%;
}

#prod_select{
	width:30%;
}

.colordiv{
	width:10px;
	height:10px;
	float:left;
	margin-left:10px;
	cursor:pointer;
}

.colorpicker{
	position:absolute;
	bottom: 10px;
	left:0px;	
}

.black{
	background-color:black;
}
.green{
	background-color:green;
}
.blue{
	background-color:#00767F;
}

.yellow{
	background-color:yellow;
}

/*
.footersing{	
	color: black;
    background-color: #00767F;
    display: inline-block;
    border: 3px solid #00767F;
    border-radius: 10px;>/
}*/

.tabletTable{
	width:95%;
}

td{
	text-align: center;
}

select.tabletForm{
	font-size: 160%;
	height:150%;
}

input.tabletForm{
	font-size: 150%;
	height:150%;
}

#prod_select{
	width: 80%;
}

.details{
	color: white;
}

a:hover.details{
	color:white;
}