body { 
/*     background: red; For browsers that do not support gradients */
/*     background: -webkit-linear-gradient(left top, #00767F, #00ffba); For Safari 5.1 to 6.0 */
/*     background: -o-linear-gradient(bottom right, #00767F, #00ffba); For Opera 11.1 to 12.0 */
/*     background: -moz-linear-gradient(bottom right, #00767F, #00ffba); For Firefox 3.6 to 15 */
/*     background: linear-gradient(to bottom right, #00767F, #00ffba); Standard syntax  */
/*     background-repeat: no-repeat; */
    
    background:url(../img/bg.jpg);
    background-attachment: fixed;
    padding-top: 70px;
}
h1 {
    color: #fff3e0;
    font-size: 48px;
}
p{
    color: #fffdf9;
}

a{
	color: #0F003B;
	font-weight: bold;
}

a:hover{
	color: #0F003B;
	text-decoration: none;
}

a:visited{
	color: #0F003B;
	text-decoration: none;
}

a:active{
	color: #0F003B;
	text-decoration: none;
}

.panel{
	width:90%;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

.centerBlock {
    margin: 0 auto;
    float: none;
}

.panel-heading{
	font-size: 18px;
}

.col-md-6{
	margin-bottom: 10px;
}
.col-md-6-1{
	width:74%;
	display: inline-block;
}
.col-md-6-2{
	float:right;
	width:25%;
	margin-bottom:20px;
	display: inline-block;
	margin-bottom:20px;
}

.table{
	background-color: white;
	float: none;
    margin: 0 auto;
	width: 80%;
}

thead{
	background-color: #555555;
	text-align:center;
	color:white;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

#myBarChart{
	background-color:white;
}

#barChartContainer{
	background-color: white;
	width: 80%;
	float: none;
	margin: 0 auto;
	margin-top: 10px;
}

#tabs{
	width: 80%;
	background-color: white; 
}

#newRetailer{
	color: #555555;
}

.hiddendiv{
	display:none;
}