body { 
    padding-top: 70px;     
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(left top, #00767F, #E3F9FF);
    background: -o-linear-gradient(bottom right, #00767F, #E3F9FF);
    background: -moz-linear-gradient(bottom right, #00767F, #E3F9FF);
    background: linear-gradient(to bottom right, #00767F, #E3F9FF);
}
h1 {
    color: #fff3e0;
    font-size: 48px;
}
p{
    color: #fffdf9;
}

a{
	color: #666666;
	font-weight: bold;
}

a:hover{
	color: #666666;
	text-decoration: none;
}

a:visited{
	color: #666666;
}

a:active{
	color: #666666;
	text-decoration: none;
}

.centerBlock {
    display: table;
    margin: 0 auto;
    float: none;
}

.col-md-6{
	margin-bottom: 10px;
}

.headerspan{
	color: white;
	font-color: white;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 15px;
    font-size: 200%;
    display: inline-block;
    text-decoration: none;
}

.table{
	background-color: white;
	float: none;
    margin: 0 auto;
	width: 95%;
}

thead{
	background-color: #555555;
	text-align:center;
	color:white;
}

.btn-block{
	width: 95%;
	float: none;
	margin: 0 auto;
}

.btn-primary{
	width: 140px;
  min-height: 100px;
  heigth:90%;
}

.container-fluid{
	width: 95%;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.navbar-brand{
	padding: 5px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.tabletTable{
	width:95%;
}

td{
	text-align: center;
}

select.tabletForm{
	font-size: 160%;
	height:150%;
}

input.tabletForm{
	font-size: 150%;
	height:150%;
}

#prod_select{
	width: 80%;
}

.mobile{
	display: none;
}

@media screen and (max-width: 770px) {
	.mobile{ display: block; }
	.desktop{ display: none; }
}