body { 
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #00767F, #CAEBA2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00767F, #CAEBA2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00767F, #CAEBA2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00767F, #CAEBA2); /* Standard syntax */ 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
}
h1 {
    color: #fff3e0;
    font-size: 48px;
}
p{
    color: #fffdf9;
}

a{
	color: #0F003B;
	font-weight: bold;
}

a:hover{
	color: #0F003B;
	text-decoration: none;
}

a:visited{
	color: #0F003B;
	text-decoration: none;
}

a:active{
	color: #0F003B;
	text-decoration: none;
}

.panel{
	width:80%;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

.thumbnail{
    background: #fffdf9 !important;
}
.centerBlock {
    display: table;
    margin: 0 auto;
    float: none;
}

.panel-heading{
	font-size: 18px;
}

.col-md-6{
	margin-bottom: 10px;
}

.headerspan{
	color: white;
	font-color: white;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 15px;
    font-size: 200%;
    display: inline-block;
    text-decoration: none;
}

.table{
	background-color: white;
	float: none;
    margin: 0 auto;
	width: 80%;
}

thead{
	text-align:center;
	color: #777777;
}

.btn-block{
	width: 80%;
	float: none;
	margin: 0 auto;
}

.container-fluid{
	width: 80%;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
  cursor: pointer;
}